/*=================================================================
 MOBILE FIRST APPROACH (320px width, i-Phone 5)
===================================================================*/
/*=================================================================
 Element Selectors
===================================================================*/
html,
body {
    height: 100%;
}

body {
  background-image: url("../background.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
  ul,
  a {
      text-decoration: none;
      list-style: none;

  }

  ul {
      padding: 0;
  }

  label {
      background-color: lightgrey;
      display: block;
  }
/*=================================================================
 Class Selectors
===================================================================*/

    .main-nav {
        display: block;
        text-align: center;
        font-size: 2em;
        font-family: 'ZCOOL QingKe HuangYou', cursive;
        margin-bottom: 5%;
    }

    .main-nav a{
        color: black;
    }

    .main-nav li {
        display: flex;
        flex-direction: column;
    } 

 
/*=================================================================
 ID Selectors
===================================================================*/

    #title {
        display: block;
        text-align: center;
        text-decoration: underline;
        font-family: 'Laila', serif;
        padding-top: 14px;  
    }

    #sticky-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: burlywood;
        color: white;
        text-align: center;
    }

    #button {
        text-align: center;
        padding-bottom: 20%;    
    }

    #form-wrap {
        width: 90%;
        text-align: center;
        margin: auto;
    }

/*=================================================================
 Media Queries
===================================================================*/


 /* Larger Devices  */
@media (min-width: 1000px), (min-height:800px) {

    
        .main-nav li {
            display: inline-block;
            text-align: center;
        }

        .main-nav li:nth-child(-n+2) {
            padding-right: 30px;
        }

        .jumbotext {
            margin: 0% 25% 0% 25%;
        }
        #stickyfooter {
            font-size: 2em;
        }
        #form-wrap {
            width: 50%;
        }
    

    }

    