/*=================================================================
 MOBILE FIRST APPROACH (320px width, i-Phone 5)
===================================================================*/
/*=================================================================
 Element Selectors
===================================================================*/

html,
body {
    height: 100%;
}

body {
  background-image: url("../background.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

  ul,
  a {
      text-decoration: none;
      list-style: none;

  }

  ul {
      padding: 0;
  }

/*=================================================================
 Class Selectors
===================================================================*/

    .main-nav {
        display: block;
        text-align: center;
        font-size: 2em;
       font-family: 'ZCOOL QingKe HuangYou', cursive;
    }

    .main-nav a {
        color: black;
    }

    .main-nav li {
        padding-bottom: .5em;
    }

    .main-nav li:first-child {
        padding-top: 20px;
    }

    .main-nav li {
        font-size: 1.5em;
        
    }
/*=================================================================
 ID Selectors
===================================================================*/

    #title {
        display: block;
        text-align: center;
        text-decoration: underline;
        font-family: 'Laila', serif;
        padding-top: 14px;  
    }
    

    .fab {
      
            display: block;
            text-align: center;
        
    }


    #sticky-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: burlywood;
        color: white;
        text-align: center;
    }

/*=================================================================
 Media Queries
===================================================================*/

@media (min-width: 1000px), (min-height:665px) {

    .main-nav li {
        padding-bottom: 1.5em;
    }

}