/*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$
 Page Design:
*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$*$/

/*=================================================================
 MOBILE FIRST APPROACH (320px width, i-Phone 5)
===================================================================*/

/*=================================================================
 Element Selectors
===================================================================*/

body {
    background: url(../background.jpg) no-repeat fixed; 
    background-size: 800px 579px;
  }

  ul,
  a {
      text-decoration: none;
      list-style: none;
  }

  ul {
      padding: 0;
  }

/*=================================================================
 Class Selectors
===================================================================*/

    .main-nav {
        display: block;
        text-align: center;
        font-size: 2em;
        font-family: 'ZCOOL QingKe HuangYou', cursive;
        margin-bottom: 5%;
    }

    .main-nav a{
        color: black;
    }
    
    .main-nav li {
        display: flex;
        flex-direction: column;
        margin-bottom: 2%;
    }

    

    .background-color {
        background-color: rgba(182, 187, 197, 0.7);
        border: 2px solid black;
        margin-bottom: 4%;
    }

    .jumbotext {
        text-align: center;
        color: black;
        opacity: auto;
        }

    .jumbotext p {
        font-size: 32px;
    }

    .jumbotext a {
        
    }

    

 
/*=================================================================
 ID Selectors
===================================================================*/

    #title {
        display: block;
        text-align: center;
        text-decoration: underline;
        font-family: 'Laila', serif;
        padding-top: 14px;  
    }

    #sticky-footer {
        display: none;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: burlywood;
        color: white;
        text-align: center;
        font-size: 2em;
    }

    

    #intro, #mb-s1, #mb-q1 {
        display: none;
    }

/*=================================================================
 Media Queries
===================================================================*/


 /* Larger Devices  */
@media (min-width: 1000px), (min-height:800px) {
    body {
        background: url(../background.jpg) no-repeat fixed; 
        background-size: 1600px 780px;
      }
    
    .main-nav li {
        display: inline-block;
        text-align: center;
    }

    .main-nav li:nth-child(-n+2) {
        padding-right: 30px;
    }

    .jumbotext {
        margin: 0% 25% 0% 25%;
    }
    }

